* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: space-around;
}

form {
    width: 25%
}

main {
    width: 75%;
    text-align: center;
}

h1 {
    color: orangered;
}
